{% comment %}
  Header section

  Accepts:
  - slot_icons {string} - Slot for icons
  - menu_link_list {string} - Link list to use for the main menu
  - menu_position {'below'|'left'|'center'|''} - Position of the main menu (left, center, right)

  Usage:
  {% render 'section-header' %}
{% endcomment %}

{%- liquid
  assign menu_link_list = menu_link_list | default: section.settings.menu_link_list | default: 'main-menu'
  assign menu_position = menu_position | default: section.settings.menu_position | default: ''
  assign color_scheme = color_scheme | default: section.settings.color_scheme | default: 'scheme-1'

  assign main_menu = linklists[menu_link_list]
-%}

<header class="header" data-color-scheme="{{ color_scheme }}"   data-page-width>
  <div class="header__logo">
    <a href="{{ routes.root_url }}">
      {% render 'icon', name: 'mainLogo' %}
    </a>
  </div>

  <div class="header__icons">
    <div class="header__search">
      <button class="search-button">
        {%- render 'icon' name:'search' -%}
      </button>
      <input type="text" placeholder="Ürün Ara (T-shirt, Sneaker...)" class="search-input">
    </div>
    <div class="icon">
      {%- render 'icon' name:'fav' -%}
    </div>
    <div class="icon">
      {%- render 'icon' name:'account' -%}
    </div>
    <div class="icon">
      {%- render 'icon' name:'basket' -%}
    </div>
  </div>
</header>

<section class="horizontal-menu" data-page-width>
  <div class="menu-wrapper">
    <ul class="menu">
      {% for link in main_menu.links %}
        <li class="menu-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% render 'icon', name: 'hamburger' %}
  </div>
  <div class="header__search_mobile">
    <button class="search-button-mobile">
      {%- render 'icon' name:'search' -%}
    </button>
    <input type="text" placeholder="Ürün Ara (T-shirt, Sneaker...)" class="search-input-mobil">
  </div>
  <div class="menu-left">
    <a href="{{ routes.root_url }}">
    <span class="shopi-go">
      shopi go
    </span>
      {% render 'icon', name:'leftLogo' %}
    </a>
  </div>
</section>
