{% comment %}
  section-slideshow component

  Accepts:
  - slot {sring} - Slides slot

  Usage:
  {%- render 'section-slideshow', slot: blocks -%}
{% endcomment %}

{% liquid
  assign navigation = navigation | default: section.settings.navigation | default: true
  assign pagination = pagination | default: section.settings.pagination | default: true
  assign scrollbar = scrollbar | default: section.settings.scrollbar | default: false
%}

<div 
  class="slideshow"
  id="{{ section.id }}"
  data-layout="{{ section.settings.layout }}"
>
  {% if section.settings.header_image != blank or section.settings.title != blank %}
    <div class="slideshow__header" data-color-scheme='{{ section.settings.color_scheme }}'>
      {% if section.settings.header_image != blank %}
        {% render 'block-image' image: section.settings.header_image %}
      {% endif %}
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
    </div>
  {% endif %}
  <div class="slideshow__swiper">
    <swiper-container
      navigation="{{ section.settings.navigation }}"
      pagination="{{ section.settings.pagination }}"
      scrollbar="{{ section.settings.scrollbar }}"
      pagination-clickable="true"
      navigation-prev-el="#{{ section.id }} .swiper-prev"
      navigation-next-el="#{{ section.id }} .swiper-next"
      pagination-el="#{{ section.id }} .swiper-pagination"
    >
      {{ slot }}
    </swiper-container>
    
    <button class="slideshow__swiper-prev swiper-prev">
      {% render 'icon' name: "arrow-left", eager: true %}
    </button>
    <button class="slideshow__swiper-next swiper-next">
      {% render 'icon' name: "arrow-right", eager: true %}
    </button>

    <div class="slideshow__pagination swiper-pagination"></div>
  </div>
</div>

<script type="module">
  import "components/section-slideshow";
</script>